In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv(r'C:\Users\Dell\Desktop\3 year\5th sem\ml lab 2\csv_file\PlayTennis.csv')
df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [3]:
inputs = df.drop('Play Tennis',axis='columns')

In [4]:
target = df['Play Tennis']

In [5]:
from sklearn.preprocessing import LabelEncoder
le_out = LabelEncoder()
le_tem = LabelEncoder()
le_humidity = LabelEncoder()
le_wind = LabelEncoder()
le_target = LabelEncoder()

In [6]:
inputs['out_n'] = le_out.fit_transform(inputs['Outlook'])
inputs['temp'] = le_tem.fit_transform(inputs['Temperature'])
inputs['humi'] = le_humidity.fit_transform(inputs['Humidity'])
inputs['wind_n'] = le_wind.fit_transform(inputs['Wind'])

In [7]:
inputs

     Outlook Temperature Humidity    Wind  out_n  temp  humi  wind_n
0      Sunny         Hot     High    Weak      2     1     0       1
1      Sunny         Hot     High  Strong      2     1     0       0
2   Overcast         Hot     High    Weak      0     1     0       1
3       Rain        Mild     High    Weak      1     2     0       1
4       Rain        Cool   Normal    Weak      1     0     1       1
5       Rain        Cool   Normal  Strong      1     0     1       0
6   Overcast        Cool   Normal  Strong      0     0     1       0
7      Sunny        Mild     High    Weak      2     2     0       1
8      Sunny        Cool   Normal    Weak      2     0     1       1
9       Rain        Mild   Normal    Weak      1     2     1       1
10     Sunny        Mild   Normal  Strong      2     2     1       0
11  Overcast        Mild     High  Strong      0     2     0       0
12  Overcast         Hot   Normal    Weak      0     1     1       1
13      Rain        Mild     High  Strong      1     2     0       0

In [8]:
inputs_n = inputs.drop(['Outlook','Temperature','Humidity','Wind'],axis='columns')

In [9]:
inputs_n

    out_n  temp  humi  wind_n
0       2     1     0       1
1       2     1     0       0
2       0     1     0       1
3       1     2     0       1
4       1     0     1       1
5       1     0     1       0
6       0     0     1       0
7       2     2     0       1
8       2     0     1       1
9       1     2     1       1
10      2     2     1       0
11      0     2     0       0
12      0     1     1       1
13      1     2     0       0

In [10]:
target

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play Tennis, dtype: object

In [36]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [37]:
from sklearn.model_selection import train_test_split

In [68]:
X_train, X_test, y_train, y_test = train_test_split(inputs_n,target,train_size=0.7)

In [69]:
model.fit(X_train, y_train)

LogisticRegression()

In [70]:
y_predicted = model.predict(X_test)

In [71]:
model.predict_proba(X_test)

array([[0.22831517, 0.77168483],
       [0.40200715, 0.59799285],
       [0.24827576, 0.75172424],
       [0.61458981, 0.38541019],
       [0.2103543 , 0.7896457 ]])

In [72]:
model.score(X_test,y_test)

0.6

In [73]:
y_predicted

array(['Yes', 'Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [74]:
X_test

    out_n  temp  humi  wind_n
9       1     2     1       1
13      1     2     0       0
2       0     1     0       1
8       2     0     1       1
11      0     2     0       0

In [75]:
model.coef_

array([[-0.92568218,  0.37940694,  0.65629493,  0.16444536]])

In [76]:
model.intercept_

array([0.56397721])

In [77]:
model.predict([[2,1,2,1]])

array(['Yes'], dtype=object)

In [80]:
model.predict([[1,1,1,0]])

array(['Yes'], dtype=object)

In [81]:
model

LogisticRegression()

In [82]:
#from sklearn.externals import joblib

In [83]:
import json

In [84]:
import joblib

In [85]:
joblib.dump(model,"model1.pkl")

['model1.pkl']

In [86]:
m=joblib.load('model1.pkl')

In [87]:
m.predict([[1,1,1,0]])

array(['Yes'], dtype=object)